h1{
    position: relative;
    color: white;
    font-size: 30px;

}
.cal{
    width: 400px;
    background: black;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 1rem;
    font-weight: bold;

}

.output{
    position: relative;
    font-size: 3.4rem;
    text-align: right;
    margin-bottom: 5vw;
    width: 90%;
    border: none;
    display: block;
    outline: none;
    background: transparent;
    color: #ffffff;
    box-shadow: inset 3px 3px 3px #17181c,
    inset -3px -3px 3px #676e7e;
    margin-top: -80px;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3px;
}
.key:hover{
    background-color: #0c5fed;
    color: white;
}

.key{
    background: #2E2E2E;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: #19CA0C;
    width: 70px;
    height: 70px;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 100px;
}
#c{
    position: relative;
    top: 19vh;
    color: #FFA500;

}
#d{
    position: relative;
    top: 19vh;
    color: #D71C1C;
    left: 15px;

}
#cc{
    position: relative;
    left: 200px;
}
#ccc
{
    position: relative;
    left: 216px;
}



.equal{

    height: auto;
    border-radius: 30px;
    color: white;
    background: black;
    width: 172%;
}

.function{
    background-color:blue;
    color: white;
}

.function:hover{
    color:white;
    background-color:red;

}

.equal:hover{
    color:white;
    background-color:red;
}

.equal{
    background-color:#19CA0C;
}

#content{
    font-size:25px;
    font-family:'Ubuntu', sans-serif;
}

#result{
    background-color: #2c2b2b;
}