:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --skin-color-:#FF6E00;
    --bg-brown-:#222222;
    --bg-white-900:#FFFFFF;
    --bg-black2-900:#151515;

}
body
{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}
::before,::after
{
    box-sizing: border-box;
}
ul
{
    list-style: none;
}

.section
{
    background: black;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}
.main-content
{
    padding-left: 270px;

}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;

}
.section.container
{
    padding-top: 60px;
    padding-bottom: 70px;

}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    padding:15px;
}
.section-title h2
{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    padding-bottom: 60px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: 40px;
    position: relative;
    color: white ;

}
.btn
{
    font-size: 18px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background:#FF6E00;
    transition: all 0.3s ease;

}
.btn:hover
{
    transform: scale(1.15);

}

/*aside*/
.aside
{
    width: 270px;
    background: #222222;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid #e8dfec;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .nav
{
    margin-top: 50px;
}
.aside .nav li
{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a
{
    font-size: 18px;
    font-weight: 600;
    display: block;
    border-bottom: ipx solid var(--bg-black-50);
    padding: 1px 20px;
    margin-bottom: -8px;
}
/*home*/
.home
{
    min-height: 100vh;
    display: flex;
    color: #302e4d;
}
.home .home-info
{
    flex: 0 0 60% ;
    max-width: 60%;
    padding: -15%;
}
h3.Hello
{
    color:#FFFFFF;
    font-size: 48px;
    margin: 15px 0;
}
.name
{
    color:#FF6E00;
}
h3.full-stack
{
    font-size: 30px;
    margin: 15px 0;

}
.typing
{
    font-size: 39px;
    padding-bottom: 10px;
}
h4.follow
{
    color:#FFFFFF;
    font-size: 25px;
    margin: 35px 0;
}
h4.home_social
{
    color: #FFFFFF;
    font-size: 25px;
    margin: 15px 0;
}

.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}.home-img::after
 {
     content: '';
     position: absolute;
     height: 80px;
     width: 80px;
     border-bottom: 10px solid #FF6E00;
     border-right: 10px solid #FF6E00;

     right: 20px;
     bottom: -40px;
 }
.home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid #FF6E00;
    border-left: 10px solid #FF6E00;

    left: -20px;
    top: -40px;
}

.home .home-img img
{
    margin: auto;
    border-radius: 5px;
    height: 400px;

}
.aboutimg>img
{
    height: 400px;
    border-radius: 20px;
    width: auto;
}
/*#txth1*/
/*{*/
/*color: var(--bg-white-900);*/
/*}*/

.nnn h1,p{
    color: #FFFFFF;
    padding: 5px;
}
.nnn
{
    position: absolute;
    top: 142px;
    left: 361px;
}

#namec
{
    color: #FF6E00;
    padding-left: 10px;
}
.skincolors {
    color: #FF6E00;
    padding-left: 10px;
}
/*projet*/
section.artical.resumecls{
    margin: 50px ;


}
/* contact*/
.contact-title
{
    color:#FF6E00;
/*text-align: center;*/
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 398px;
}

#row1{
}
#zzz{
    justify-content: space-around;
    /*color: var(--skin-color-);*/
    margin-left: 35px;
}
form#form {
    padding: 20px;
    width: 60vw;
    margin: 0 auto;
    color: #fff;
    position: relative;
}
input#name{
    width: 40%;
    position: absolute;
}
input#email{
    width: 50%;
    left: 50%;
    position: relative;
}
input,
textarea {
    display: flex;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 28px;
    margin-bottom: 10px;
    background-color: #222222;
    color: #44444C;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(201, 211, 214);
}
button {
    background-color:#FF6E00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    font-size: 16px;
    width: 300px;
    height: 50px;
    position:absolute;



}

button:hover {
    background-color: #FECB02;
    color: #1E1E1E;
}

fieldset {
    border: none;
    margin-top: 3vh;
    padding: 0;
}

legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
#chattitele{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
}
#button{
    padding-right: 300px;
}
.skil ul
{
    top: -16px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #44444C;
    width: 75vw;
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;

}
#skils2
{
    padding-top:45px;
}
.aboutset
{
    position: relative;
    left: 125px;
    padding-bottom: 20px;
    font-size: 20px;
}
#hisize
{
    font-size: 42px;
    padding-bottom: 25px;

}
#hisize span
{
    color: #FECB02;
}
#pid
{
    font-size: 18px;
}
.btnhire
{
    padding-left: 111px;
}
.full-stack
{
    padding-bottom: 20px;
}
h2.skinc
{
    color: #FF6E00;
    margin-top: -31px;
}
h2.skincolors
{
    color: #FF6E00;
}
.edicolr
{
    color: #FF6E00;
    padding-left: 20px;
    font-size: 30px;
}
.scl
{
    margin-bottom: 43px;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 20px;
}
.hnd
{
    margin-bottom: 35px;
    margin-top: 30px;
    margin-left: 29px;
    font-size: 25px;
}
.itxt
{
    margin-bottom: 35px;
    margin-top: -10px;
    margin-left: 42px;
    font-size: 20px;
}

.fa-map-marker-alt
{
    color: #FF6E00;
    margin-left: 81px;
}
.fa-phone
{
    color: #FF6E00;
    margin-left: 25px;
}
.fa-envelope
{
    color: #FF6E00;
    margin-left: 68px;

}
.locc
{
    margin-left: 57px;
}
.emaill
{
    margin-left: 57px;
}
.aboutmee
{
    margin-top: 10px;
}
.skilsss
{
    margin-top: 10px;
}
.resumee
{
    margin-top: 61px;
}
.projectss
{
    margin-top: 10px;
}
.conttt
{
    margin-top: 10px;
}
.resumecls
{
    border-left: .3rem solid #FF6E00;
    border-bottom: 10px;
    margin: -22px;
}
.homee
{
    height: 30px;
    width: 30px;
    margin-left: -17px;
    margin-bottom: -37px;
}
.aboutt
{
    height: 80px;
    width: 88px;
    margin-left: -48px;
    margin-bottom: -61px;
}
.skil1 {
    height: 60px;
    margin-left: -32px;
    margin-bottom: -49px;
}
.resum1
{
    height: 35px;
    margin-left: -16px;
    margin-bottom: -37px;
}
.Assignment2
{
    height: 30px;
    width: 30px;
    margin-left: -17px;
    margin-bottom: -37px;

}

.pro1
{
    height: 35px;
    margin-left: -16px;
    margin-bottom: -37px;
}
.cont1
{
    height: 40px;
    margin-left: -17px;
    margin-bottom: -41px;
}

.alph {
    height: 137px;
    margin-right: -124px;
    margin-bottom: 490px;
}
#txth1
{
    font-size: 30px;
    margin-top: 18px;
}
/*.whitee*/
/*{*/
/*    widht :100px;*/
/*    margin-top: 21px;*/
/*}*/
.achiv
{
    font-style: italic;
    font-size: 50px;
    /*margin-top: -160px;*/
    margin-left: 50px;
}

.active{
    color: white;
}
.active:hover
{
    color: #FF6E00;
    transform: scale(1.3);
    font-weight: bold;
}
.galry{
    margin-top: 10px;
}
.g1{
    height: 25px;
    margin-left: -11px;
    margin-bottom: -30px;
}
.glast
 {
    position: relative;
    top: 10px;
    left: 10px;
    width: 1000px;
    height: 500px;

    display: grid;
    margin: auto;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;}

.glast div:hover{
    transform: scale(1.08);
}

.glast div{
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 1px 1px black;
}

.glast div:nth-child(1){
    background-image: url("../image/199.jpg");

}

.glast div:nth-child(2){
    background-image: url("../image/0999.jpeg");

}
.glast div:nth-child(3){
    background-image: url("../image/777.jpeg");


}
.glast div:nth-child(4){
    background-image: url("../image/6666.jpeg ");

}
.glast div:nth-child(5){
    background-image: url("../image/3333.jpeg");


}
.glast div:nth-child(6){
    background-image: url("../image/amma.jpg");

}
.glast div:nth-child(7){
    background-image: url("../image/333.jpeg");


}
.glast div:nth-child(8){
    background-image: url("../image/1111 (1).jpg");


}
.glast div:nth-child(9){
    background-image: url("../image/232.jpg");

}
/*.anim*/
/*{*/
/*    position: absolute;*/
/*    margin: 326px;*/
/*}*/
/*.cs1*/
/*{*/
/*    margin-left: -276px;*/
/*    margin-top: -143px;*/
/*    width: 250px;*/
/*}*/
/*.cs2*/
/*{*/
/*    margin-top: -192px;*/
/*}*/
/*.cs3*/
/*{*/
/*    margin-left: 393px;*/
/*    width: 300px;*/
/*    height: 200px;*/
/*    margin-top: -232px;*/
/*    margin-bottom: 30px;*/
/*}*/
.imgcls
{
    width: 350px;
    height: 400px;
}

.resimg
{
    width: 310px;
    height: 190px;
}
.sennn
{
    width: 400px;
    height: 200px;
}
.resimg2
{
    width: 250px;
    height: 126px;
}
.social
{
    position: absolute;
    margin: 41px;
    bottom: 87px;
    left: 270px;
}
#loader {
    transition: opacity 1s;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
}

#loader > div {
    width: 290px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url("../image/loader2.gif");
    background-size: cover;
    background-position: center;
}


#c1 {
    width: 500px;
    height: 330px;
    padding: 20px;
    /*margin-bottom: 100px;*/


}

#c2 {
    width: 500px;
    height: 330px;
    /*margin-right: 700px;*/
    padding: 20px;
}
/*#b2{*/
/*    margin-left: 750px;*/

/*}*/
#resumelast
{
    margin-top: -42px;
}

#c3 {
    width: 500px;
    height: 330px;
    /*margin-top: 200px;*/
    padding: 20px;
}

#c4{
    width: 500px;
    height: 330px;
    /*margin-top: 200px;*/
    padding: 20px;
}

/*project*/
.projects .container
{
    padding-bottom: 40px;
}
.projects .project-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.projects .projects-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.projects .projects-item-inner
{
    border: 6px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.projects .projects-item-inner .projects-img img
{
    width: 100%;
    display: block;
}


/*Assignmnet*/
.Assignment .container
{
    padding-bottom: 40px;
}
.Assignment .Assignment-heading   .
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.Assignment .Assignment-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.Assignment .Assignment-item-inner
{
    border: 6px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.Assignment .Assignment-item-inner .Assignment-img img
{
    width: 100%;
    display: block;

}

.Assgmnetbutton
{
  width: 600px;
}
.Assignment-img :hover{

    transform: scale(1.15);
    background-color: white;

}


/*--------------------*/
#rusumebutton{
    margin-left: 425px;
    margin-top: 10px;
    width: 100px;
}