/*<--responsive-->*/
@media (max-width: 1440px) {



    .social {
        bottom: 46px;
        left: 392px;

    }

    .home {
        min-width: 101vw;
    }

    .section {
        min-width: 101vw;
    }

    form#form {
        margin: -41px auto;
        width: 81vw;
        padding: 8px;
    }

    .glast {
        width: 891px;
        height: 433px;
    }

    .teddy {
        margin-top: 2px;
    }

    /*.cs1 {*/
    /*    margin-top: 81px;*/
    /*}*/

}


@media (max-width: 1024px) {

    h3.Hello {
        font-size: 28px;
    }

    .typing {
        font-size: 28px;
    }

    .btnhire {
        padding-left: 64px;
    }

    .home-img::after {
        right: -56px;
        bottom: -32px;
    }

    #hisize {
        font-size: 24px;
        padding-bottom: 10px;
    }

    #pid {
        font-size: 14px;
    }

    .aboutimg > img {
        height: 363px;
        border-radius: 20px;
        width: auto;
    }

    .nnn {
        position: absolute;
        top: 127px;
        left: 288px;
    }

    .aboutset {
        position: relative;
        left: 55px;
        padding-bottom: 20px;
        font-size: 16px;
    }

    .skil ul {
        top: -44px;
        left: -7px;
        width: 71vw;
        height: 19vh;
    }

    h2.skinc {
        margin-top: -60px;
    }

    .resimg {
        width: 250px;
        height: 126px;
    }

    .sennn {
        width: 234px;
        height: 146px;
    }

    .cs1 {
        width: 195px;
    }

    /*.cs2 {*/
    /*    margin-top: -200px;*/
    /*    width: 248px;*/
    /*    margin-left: -58px;*/
    /*    margin-bottom: 18px;*/
    /*}*/

    /*.cs3 {*/
    /*    margin-left: 201px;*/
    /*    width: 195px;*/
    /*    height: 158px;*/
    /*    margin-top: -232px;*/
    /*    margin-bottom: 30px;*/
    /*}*/

    .glast {
        width: 577px;
        height: 362px;
    }

    #zzz {
        margin-bottom: 47px;
        margin-top: -51px;
    }

    .resimg2 {
        margin-left: 484px;
        margin-bottom: 53px;
        margin-top: -144px;
        width: 250px;
        height: 150px;
    }

    .social {
        bottom: 47px;
        margin-left: -106px;
    }

    .aside .nav li a {
        font-size: 16px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {


    social{
        right: 44px;
        left: 363px;

    }

    #txth1 {
        margin-top: -41px;
    }


    .glast {
        width: 590px;
        height: 363px;
    }

    .contact-title {
        margin-left: 200px;
    }


}

@media (max-width: 424px) {

    .aside {
        left: -270px;
        display: none;
    }

    .main-content {
        padding-left: 0;
    }

    .resimg2 {
        height: 150px;
    }

    cs3 {
        width: 164px;
    }

    .glast {
        width: 590px;
        height: 363px;
    }

    home .home-img img {
        height: 264px;
    }

    .section {
        min-width: 200vw;
    }

    .social {
        bottom: 50px;
        right: -396px;
        left: -22px;

    }

    form#form {
        width: 114vw;
    }

    .skil ul {
        width: 143vw;
    }

}

@media (min-width: 375px ) and (max-width: 424px) {

    .aside {
        left: -270px;
        display: none;
    }

    .main-content {
        padding-left: 0;
    }


    .section {
        min-width: 200vw;
    }

    .skil ul {
        width: 160vw;
    }

    .social {
        right: -356px;
        left: 100px;

    }
    .contact-title
    {
        margin-left: 238px;
    }
    .home .home-img img {
        height: 325px;
    }


}

@media (min-width: 320px ) and (max-width:  375px) {
    /*@media (max-width: 320px) {*/
    .aside {
        left: -270px;
        display: none;
    }

    .main-content {
        padding-left: 0;
    }

    .section {
        min-width: 235vw;
        /*min-height: 75vh;*/
    }

    .social {
        right: -400px;

        left: 105px;
        /*margin-bottom: 285px;*/
    }

    .skil ul {
        width: 188vw;
    }

    .contact-title {
        left: 104px;
        margin-top: -17px;
        font-size: 22px;
        margin-left: 219px;
    }

    .home .home-img img {
        height: 325px;
    }
    .sennn {
        width: 200px;
    }
    .resimg2 {
        height: 150px;

        margin-left: 465px;
    }
}


