/*<--responsive-->*/
@media (max-width: 1440px) {
  .home
  {
      min-width: 101vw;
  }
    .section{
        min-width: 101vw;
    }

    .social
    {
        bottom: 133px;
        left: 396px;
    }
    form#form {
        margin: -41px auto;
    }
    .glast
    {
        width: 891px;
        height: 433px;
    }
    .teddy
    {
        margin-top: 2px;
    }
    .cs1 {
        margin-top: 81px;
    }


}
@media (max-width: 1024px) {

    h3.Hello
    {
        font-size: 28px;
    }

    .typing
    {
        font-size: 28px;
    }
    .btnhire {
        padding-left: 64px;
    }
    .home-img::after {
        right: -56px;
        bottom: -32px;
    }
    #hisize {
        font-size: 24px;
        padding-bottom: 10px;
    }
    #pid {
        font-size: 14px;
    }
    .aboutimg>img {
        height: 363px;
        border-radius: 20px;
        width: auto;
    }
    .nnn {
        position: absolute;
        top: 127px;
        left: 288px;
    }
    .aboutset {
        position: relative;
        left: 55px;
        padding-bottom: 20px;
        font-size: 16px;
    }
    .skil ul
    {
        top: -44px;
        left: -7px;
        width: 71vw;
        height: 19vh;
    }
    h2.skinc
    {
        argin-top: -60px;
    }
    .resimg {
        width: 250px;
        height: 126px;
    }
    .sennn {
        width: 234px;
        height: 146px;
    }

    .cs1 {
        width: 195px;
    }
    .cs2 {
        margin-top: -200px;
        width: 248px;
        margin-left: -58px;
        margin-bottom: 18px;
    }
    .cs3 {
        margin-left: 201px;
        width: 195px;
        height: 158px;
        margin-top: -232px;
        margin-bottom: 30px;
    }
    .glast{
        width: 577px;
        height: 362px;
    }
    .contact-title{
        margin-left: 186px;
        margin-top: -21px;

    }
    #zzz
    {
        margin-bottom: 47px;
        margin-top: -51px;
    }
    .resimg2{
        margin-left: 484px;
        margin-bottom: 53px;
        margin-top: -144px;
        width: 250px;
        height: 150px;
    }
    .social {
        bottom: 50px;
        right: 50px;
        left: 230px;
    }
    .aside .nav li a {
        font-size: 16px;
    }

    }

@media (max-width: 768px) {
    social {
        right: 44px;
        left: 229px;
    }
    #txth1 {
        margin-top: -41px;
    }

}
@media (max-width: 425px) {

    .resimg2 {
        height: 150px;
    }
    cs3 {
        width: 164px;
    }
    .glast {
        width: 338px;
        height: 219px;
    }
    home .home-img img {
        height: 264px;
    }


}

